*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
.nav{
    background-color: peachpuff;
    color: gray;
}
.navlist{
    display: flex;
    justify-content: center;
    gap: 50px;
    font-size: 32px;
}